
<br />
<br />
<br />
<br />
<div class="container mt-5 mb-5 position-relative">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-body p-5" style="background-color: #f9f9f9;">
          <h4 class="card-title text-center mb-4" style="color: #d32f2f;">Forgot Password</h4>
          <div class="form-group mb-3">
            <input type="email" class="form-control" id="emailInput" placeholder="Enter email" [(ngModel)]="email" required>
          </div>
          <button type="submit" class="btn w-100 text-white" (click)="sendResetCode()" style="background-color: #d32f2f; padding: 13px;">Reset_password</button>
          <p>{{ message }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
