<br /><br /><br />
<div class="breadcrumbs-area position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="breadcrumb-content position-relative section-content">
          <h3 class="title-3">About Us</h3>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- About Area Start Here -->
<div class="our-history-area gray-bg pt-5 mt-text-3">
  <div class="our-history-area">
    <div class="container custom-area">
      <div class="row">
        <!--Section Title Start-->
        <div class="col-12 col-custom">
          <div class="section-title text-center mb-30">
            <span class="section-title-1">What drives us</span>
            <h2 class="section-title-large">Our Mission</h2>
          </div>
        </div>
        <!--Section Title End-->
      </div>
      <div class="row">
        <div class="col-lg-8 ms-auto me-auto">
          <div class="history-area-content text-center border-0">
            <p>
              <strong>
                Our mission is to transform everyday moments into lasting memories through the timeless beauty of flowers. At Blumora, we believe that each bloom carries an emotion, a message, and a story waiting to be shared.
              </strong>
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- History Area Start Here -->
<div class="our-history-area gray-bg pt-5 mt-text-3">
  <div class="our-history-area">
    <div class="container custom-area">
      <div class="row">
        <!--Section Title Start-->
        <div class="col-12 col-custom">
          <div class="section-title text-center mb-30">
            <span class="section-title-1">A little story about us</span>
            <h2 class="section-title-large">Our History</h2>
          </div>
        </div>

        <!--Section Title End-->

      </div>
      <div class="row">
        <div class="col-lg-8 ms-auto me-auto">
          <div class="history-area-content text-center border-0">
            <p>
              <strong>
                At Blumora, we believe every flower is more than just a bloom – it’s an opportunity to bring a magical touch and beauty to every moment. Just as flowers create unforgettable memories in our lives, we strive to offer the same joy with every bouquet we delive.
              </strong>
            </p>
            <p>


              Our journey began with a deep passion for the world of flowers and beauty. From the very beginning, our mission has been to spread happiness and smiles through flowers – a language that transcends words. We believe flowers are not just gifts; they are expressions of love, emotions, and the happiness that color our lives.


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature History Area End Here -->
<!-- Team Member Area Start Here -->
<div class="team-member-wrapper mt-text-3">
  <div class="container custom-area">
    <div class="row">
      <div class="col-lg-12 col-custom">
        <div class="section-title text-center">
          <span class="section-title-1">The guys behind the curtains</span>
          <h2 class="section-title-2">a team of highly-skilled experts</h2>
        </div>
      </div>
    </div>
    <div class="row ht-team-member-style-two pt-40">
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">

            <div class="team-image">
              <img class="img-fluid" src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4866.jpg?semt=ais_hybrid" alt="">
            </div>
            <div class="team-info text-center">
              <h5 class="name">Ali Alsmadi</h5>
              <div class="position">Scrum Master</div>
            </div>
          </div>
        </div>
      </div><div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">

            <div class="team-image">
              <img class="img-fluid" src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4866.jpg?semt=ais_hybrid" alt="">
            </div>
            <div class="team-info text-center">
              <h5 class="name">Adnan Alghzawi</h5>
              <div class="position">Developer</div>
            </div>
          </div>
        </div>
      </div><div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">

            <div class="team-image">
              <img class="img-fluid" src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-isolated-background-avatar-profile-picture-man_1293239-4866.jpg?semt=ais_hybrid" alt="">
            </div>
            <div class="team-info text-center">
              <h5 class="name">Habib Alafef</h5>
              <div class="position">Developer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">

            <div class="team-image">
              <img class="img-fluid" src="https://www.shutterstock.com/image-vector/vector-bright-portrait-beautiful-brunette-600nw-2452267975.jpg" alt="">
            </div>
            <div class="team-info text-center">
              <h5 class="name">Nada Qdesat</h5>
              <div class="position">Product Owner</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">

            <div class="team-image">
              <img class="img-fluid" src="https://www.shutterstock.com/image-vector/vector-bright-portrait-beautiful-brunette-600nw-2452267975.jpg" alt="">
            </div>
            <div class="team-info text-center">
              <h5 class="name">Amal Dalgamoni</h5>
              <div class="position">Developer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">

            <div class="team-image">
              <img class="img-fluid" src="https://www.shutterstock.com/image-vector/vector-bright-portrait-beautiful-brunette-600nw-2452267975.jpg" alt="">
            </div>
            <div class="team-info text-center">
              <h5 class="name">Mona Altamimi</h5>
              <div class="position">Developer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-custom">
        <div class="grid-item">
          <div class="ht-team-member">

            <div class="team-image">
              <img class="img-fluid" src="https://www.shutterstock.com/image-vector/vector-bright-portrait-beautiful-brunette-600nw-2452267975.jpg" alt="">
            </div>
            <div class="team-info text-center">
              <h5 class="name">Toqa khashashneh</h5>
              <div class="position">Developer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team Member Area End Here -->
<br />
<br />
