<footer class="footer-area" *ngIf="container !='Admin@gmail.com'">
  <div class="footer-widget-area">
    <div class="container container-default custom-area">
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="single-footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <img src="../../../assets/images/logo/logo5 (1).png" alt="Logo Image">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mb-4" style="margin-bottom:-30px">
          <div class="single-footer-widget">
            <h2 class="widget-title">Information</h2>
            <ul class="widget-list">
              <li><a href="about-us.html">Our Shop</a></li>
              <li><a routerLink="/contact">Contact Us</a></li>
              <li><a href="about-us.html">Why We?</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
          <div class="single-footer-widget">
            <h2 class="widget-title">Quicklink</h2>
            <ul class="widget-list">
              <li><a href="about-us.html">About</a></li>
              <li><a href="shop.html">Shop</a></li>
              <li><a href="cart.html">Cart</a></li>
              <li><a href="contact-us.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="single-footer-widget">
            <h2 class="widget-title">See Information</h2>
            <address>
              123, Irbid, Share'e Alhuson.<br>
              Phone: +962 79890 9890<br>
              Email: alghzawiadnan22-gmail.com
            </address>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
          <div class="single-footer-widget social-links">
            <ul class="d-flex justify-content-center">
              <li><a href="#" class="social-icon"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="social-icon"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-area">
    <div class="container custom-area">
      <div class="row">
        <div class="col-12 text-center">
          <p>Copyright © 2025 <strong>Bloomora</strong></p>
        </div>
      </div>
    </div>
  </div>
</footer>
